<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IgnoredExtensions" value="exe,bin,cab,cmd,msi,dll,jpg,gif,png,jpeg,bmp,zip,gzip,7z,pem,pfx,cer,p7b,dat,tar,ico,wav"/>
    <add key="CommonFileExtensions" value="*.xml,*.csv,*.cs,*.js,*.json,*.csproj,*.sln,*.vb,*.java,*.doc,*.xls,*.xlsx"/>
    <add key="FileAbstractLineCount" value="15"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>